.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: block;
  padding: 0;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #000000;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding: 0;
  height: 60px;
  border-radius: 4px;
  border: none;
  background-color: #2f80ed;
  color: #ffffff;
  transition: opacity 0.3s ease;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
}
